@media (min-width: 751px) and (max-width: 1300px) {
  nav {
      padding-left: 30px;
      padding-right: 30px;
    }  

  section {
    height: fit-content;

    

    &.home {
      height: 100vh;
    }

    &.about {
      .box1 {
        flex-direction: column-reverse;
        width: 80%;
      }
      .wrapper {
        margin-right: 0;
        transform: scale(0.7);
      }
      .aboutme {
        margin-left: 0;
        width: 650px;
      }
    }

    &.projects {
      .box2 {
        width: 95%;
      }
      .card2 {
        padding-top: 0;
      }
    }
  }
}
